## Observations and Insights

In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

In [4]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [5]:
# Combine the data into a single dataset
pharma_complete_df = pd.merge(mouse_metadata, study_results, how = "left", on=["Mouse ID", "Mouse ID"])

In [6]:
# Display the data table for preview
pharma_complete_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,count
0,k403,Ramicane,Male,21,16,0,45.000000,0,1
1,k403,Ramicane,Male,21,16,5,38.825898,0,1
2,k403,Ramicane,Male,21,16,10,35.014271,1,1
3,k403,Ramicane,Male,21,16,15,34.223992,1,1
4,k403,Ramicane,Male,21,16,20,32.997729,1,1
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,1
1889,z969,Naftisol,Male,9,30,30,65.841013,3,1
1890,z969,Naftisol,Male,9,30,35,69.176246,4,1
1891,z969,Naftisol,Male,9,30,40,70.314904,4,1
1892,z969,Naftisol,Male,9,30,45,73.867845,4,1

In [12]:
# Checking the number of mice.
mice_count_df = len(pharma_complete_df["Mouse ID"].unique())
mice_count_df

249

In [17]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# mouse_id_dups = pharma_complete_df.pharma_complete_df.duplicated["Mouse ID","Timepoint"]
# mouse_id_dups

mouse_id_dups = pharma_complete_df.loc[pharma_complete_df.duplicated(subset = ["Mouse ID","Timepoint"]),"Mouse ID"].unique()
mouse_id_dups

array(['g989'], dtype=object)

In [22]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
pharma_final_df = pharma_complete_df[pharma_complete_df["Mouse ID"].isin(mouse_id_dups) == False]                                               
pharma_final_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,count
0,k403,Ramicane,Male,21,16,0,45.000000,0,1
1,k403,Ramicane,Male,21,16,5,38.825898,0,1
2,k403,Ramicane,Male,21,16,10,35.014271,1,1
3,k403,Ramicane,Male,21,16,15,34.223992,1,1
4,k403,Ramicane,Male,21,16,20,32.997729,1,1
...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,1
1889,z969,Naftisol,Male,9,30,30,65.841013,3,1
1890,z969,Naftisol,Male,9,30,35,69.176246,4,1
1891,z969,Naftisol,Male,9,30,40,70.314904,4,1
1892,z969,Naftisol,Male,9,30,45,73.867845,4,1

In [27]:
# Optional: Get all the data for the duplicate mouse ID. 
MouseID_dups = pharma_complete_df[pharma_complete_df["Mouse ID"].isin(mouse_id_dups) == True]                                               
MouseID_dups

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,count
908,g989,Propriva,Female,21,26,0,45.000000,0,1
909,g989,Propriva,Female,21,26,0,45.000000,0,1
910,g989,Propriva,Female,21,26,5,48.786801,0,1
911,g989,Propriva,Female,21,26,5,47.570392,0,1
912,g989,Propriva,Female,21,26,10,51.745156,0,1
913,g989,Propriva,Female,21,26,10,49.880528,0,1
914,g989,Propriva,Female,21,26,15,51.325852,1,1
915,g989,Propriva,Female,21,26,15,53.442020,0,1
916,g989,Propriva,Female,21,26,20,55.326122,1,1
917,g989,Propriva,Female,21,26,20,54.657650,1,1
918,g989,Propriva,Female,21,26,25,56.045564,1,1
919,g989,Propriva,Female,21,26,30,59.082294,1,1
920,g989,Propriva,Female,21,26,35,62.570880,2,1

In [28]:
# Checking the number of mice in the clean DataFrame.
mice_clean_df = pharma_final_df["Mouse ID"].count()
mice_clean_df

1880

In [30]:
# Rename column names for Final Clean Data
pharma_final_df = pharma_final_df.rename(columns={"Mouse ID":"Mouse_ID","Drug Regimen":"Drug_Regimen", "Tumor Volume (mm3)":"Tumor_Volume_(mm3)", "Metastatic Sites":"Metastatic_Sites","Weight (g)":"Weight_g"})
pharma_final_df.head()

,Mouse_ID,Drug_Regimen,Sex,Age_months,Weight_g,Timepoint,Tumor_Volume_(mm3),Metastatic_Sites,count
0,k403,Ramicane,Male,21,16,0,45.000000,0,1
1,k403,Ramicane,Male,21,16,5,38.825898,0,1
2,k403,Ramicane,Male,21,16,10,35.014271,1,1
3,k403,Ramicane,Male,21,16,15,34.223992,1,1
4,k403,Ramicane,Male,21,16,20,32.997729,1,1

## Summary Statistics

In [31]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [37]:
#Summary Index 
regimen_index_df = pharma_final_df.groupby(["Drug_Regimen"])
regimen_index_df.count()

,Mouse_ID,Sex,Age_months,Weight_g,Timepoint,Tumor_Volume_(mm3),Metastatic_Sites,count
Drug_Regimen,,,,,,,,
Capomulin,230,230,230,230,230,230,230,230
Ceftamin,178,178,178,178,178,178,178,178
Infubinol,178,178,178,178,178,178,178,178
Ketapril,188,188,188,188,188,188,188,188
Naftisol,186,186,186,186,186,186,186,186
Placebo,181,181,181,181,181,181,181,181
Propriva,148,148,148,148,148,148,148,148
Ramicane,228,228,228,228,228,228,228,228
Stelasyn,181,181,181,181,181,181,181,181
Zoniferol,182,182,182,182,182,182,182,182

In [38]:
# Generate a summary statistics table of mean
# # This method produces everything in a single groupby function
regimen_mean_df = pharma_final_df.groupby(["Drug_Regimen"])["Tumor_Volume_(mm3)"].mean()
regimen_mean_df

Drug_Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.320930
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor_Volume_(mm3), dtype: float64

In [39]:
# Generate a summary statistics table of median
# # This method produces everything in a single groupby function
regimen_median_df = pharma_final_df.groupby(["Drug_Regimen"])["Tumor_Volume_(mm3)"].median()
regimen_median_df

Drug_Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.446266
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor_Volume_(mm3), dtype: float64

In [41]:
# Generate a summary statistics table of variance
# # This method produces everything in a single groupby function
regimen_var_df = pharma_final_df.groupby(["Drug_Regimen"])["Tumor_Volume_(mm3)"].var()
regimen_var_df

Drug_Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     43.852013
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor_Volume_(mm3), dtype: float64

In [42]:
# Generate a summary statistics table of standard deviation
# # This method produces everything in a single groupby function
regimen_std_df = pharma_final_df.groupby(["Drug_Regimen"])["Tumor_Volume_(mm3)"].std()
regimen_std_df

Drug_Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.622085
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor_Volume_(mm3), dtype: float64

In [43]:
# Generate a summary statistics table of SEM
# # This method produces everything in a single groupby function
regimen_sem_df = pharma_final_df.groupby(["Drug_Regimen"])["Tumor_Volume_(mm3)"].sem()
regimen_sem_df

Drug_Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.544332
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor_Volume_(mm3), dtype: float64

In [44]:
# # Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
#Pandas view

summary_regimen_stats_df = pd.DataFrame({"Mean": regimen_mean_df,
                                         "Median": regimen_median_df,
                                         "Variance": regimen_var_df,
                                         "Standard Variance": regimen_std_df,
                                         "SEM": regimen_sem_df})

summary_regimen_stats_df.style.format({"Mean": "{:,.2f}",
                                       "Median": "{:,.2f}",
                                       "Variance": "{:,.2f}",
                                       "Standard Variance": "{:,.2f}",
                                       "SEM": "{:,.2f}"})

In [45]:
# Matplotlib View

## Bar and Pie Charts

In [ ]:
#Total number of mice for each treatment throughout the course of the study using pandas. 
regimen = ["Capomulin","Ceftamin","Infubinol","Ketapril","Naftisol","Placebo","Propriva","Ramicane","Stelasyn","Zoniferol"]
mice = [230, 178, 178, 188, 186, 181, 156, 228, 181, 182]
x_axis = np.arange(len(mice))

In [ ]:
# Create the ticks for our bar chart's x axis
tick_locations = [value for value in x_axis]
plt.xticks(tick_locations, regimen )

In [ ]:
# Set the limits of the x axis
plt.xlim(-0.75, len(x_axis)-0.25)

In [ ]:
# Set the limits of the y axis
plt.ylim(0, max(mice)+50)

In [ ]:
# Give the chart a title, x label, and y label
plt.title("Mice per Drug Regimen")
plt.xlabel("Mice count")
plt.ylabel("Mice per Drug Regimen")

In [ ]:
# Create a bar chart based upon the above data
plt.bar(x_axis, mice, color="g",alpha=0.6, align="center")

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen